body {
  font-family: "Segoe UI";
  background-color: #ffffff;
  color: #0f172a;
}

.hero {
  padding: 100px 5%;
}

.hero-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 60px;
}

/* Text */
.hero-content h1 {
  font-size: 52px;
  font-weight: 800;
  margin-bottom: 24px;
}

.hero-content p {
  font-size: 18px;
  color: #475569;
  margin-bottom: 32px;
}

.buttons {
  display: flex;
  gap: 16px;
}

.btn {
  padding: 14px 26px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  text-decoration: none;
}

.btn.primary {
  background-color: #000000;
  color: #ffffff;
}

.btn.primary:hover {
  background-color: #1f2933;
}

.btn.secondary {
  border: 2px solid #cbd5e1;
  color: #0f172a;
}

.btn.secondary:hover {
  background-color: #f1f5f9;
}

.hero-image img {
  width: 80%;
  border-radius: 20px;
}

.why-content{
    text-align: center;
}

.why-choose {
    text-align: center;
}

.container {
  max-width: 70%;
  margin: auto;
}

.why-choose h2 {
  font-size: 42px;
  font-weight: 700;
  color: #0f172a;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 18px;
  color: #475569;
  max-width: 700px;
  margin: 0 auto 70px;
  line-height: 1.6;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  padding: 30px 20px;
  border-radius: 22px;
}

.card h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #0f172a;
}

.card p {
  font-size: 16px;
  line-height: 1.6;
  color: #475569;
}

.blue {
  background-color: #e0edff;
}

.green {
  background-color: #dcfce7;
}

.purple {
  background-color: #f3e8ff;
}

.icon {
  width: 64px;
  height: 64px;
  border-radius: 16px;
  margin: 0 auto 30px;
  position: relative;
}

.icon::after {
  content: "";
  position: absolute;
  inset: 18px;
  background-color: #ffffff;
  border-radius: 8px;
}

.blue-icon {
  background-color: #2563eb;
}

.green-icon {
  background-color: #16a34a;
}

.purple-icon {
  background-color: #9333ea;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
}

.image-box img {
  width: 100%;
  border-radius: 24px;
}

.text-box h2 {
  font-size: 30px;
  font-weight: 700;
  color: #0f172a;
  margin-bottom: 40px;
}

.feature {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.line {
  width: 4px;
  background-color: #000000;
  border-radius: 4px;
}

.testimonials {
  background: #ffffff;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.testimonials h2 {
  font-size: 42px;
  font-weight: 700;
  color: #0f172a;
  margin-bottom: 16px;
}

.subtitle {
  font-size: 18px;
  color: #475569;
  margin-bottom: 70px;
}

.testimonial-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 80px;
}

.testimonial {
  padding: 32px;
  border-radius: 20px;
  text-align: left;
}

.profile {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}

.profile img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.profile strong {
  font-size: 16px;
  color: #0f172a;
  display: block;
}

.profile span {
  font-size: 14px;
  color: #64748b;
}

.quote {
  font-size: 16px;
  line-height: 1.6;
  color: #334155;
}

.stats {
  background: #f8fafc;
  border-radius: 20px;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.stat h3 {
  font-size: 36px;
  font-weight: 700;
  color: #0f172a;
  margin-bottom: 8px;
}

.stat p {
  font-size: 16px;
  color: #64748b;
}

.signup {
  background: #ffffff;
  text-align: center;
}

.signup-container {
  max-width: fit-content;
  margin: auto;
}

.signup h2 {
  font-size: 36px;
  font-weight: 700;
  color: #0f172a;
  margin-bottom: 16px;
}

.subtitle {
  font-size: 16px;
  color: #64748b;
  line-height: 1.6;
  margin-bottom: 50px;
}

.signup-form {
  background: #f8fafc;
  padding: 40px;
  border-radius: 16px;
}


.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}


.field {
  text-align: left;
  margin-bottom: 20px;
}

.field label {
  font-size: 14px;
  font-weight: 500;
  color: #0f172a;
  margin-bottom: 8px;
  display: block;
}

.field input,
.field select,
.field textarea {
  width: 100%;
  padding: 10px 10px;
  font-size: 14px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
}

.signup-form button {
  width: 100%;
  padding: 16px;
  background: #000000;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}

.terms {
  font-size: 12px;
  color: #94a3b8;
  margin-top: 14px;
}

.footer {
  background:#0f172a;
  color: #cbd5f5;
  padding: 80px 5% 40px;
  font-family: system-ui, sans-serif;
}

.footer-container {
  margin: auto;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  gap: 80px;
}

.footer-about h3 {
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-about p {
  font-size: 16px;
  line-height: 1.7;
  color: #94a3b8;
  margin-bottom: 30px;
}

.social-links {
  display: flex;
  gap: 24px;
}

.social-links a {
  color: #cbd5f5;
  text-decoration: none;
  font-size: 16px;
}

.social-links a:hover {
  color: #ffffff;
}

.footer-links h4,
.footer-contact h4 {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-links li {
  margin-bottom: 14px;
}

.footer-links a {
  color: #94a3b8;
  text-decoration: none;
  font-size: 16px;
}

.footer-links a:hover {
  color: #ffffff;
}

.footer-contact p {
  font-size: 16px;
  color: #94a3b8;
  line-height: 1.6;
  margin-bottom: 18px;
}

.footer-contact strong {
  color: #ffffff;
}

.footer-bottom {
  max-width: 1200px;
  margin: 60px auto 0;
  padding-top: 30px;
  border-top: 1px solid #1e293b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #64748b;
  font-size: 14px;
}

.legal-links {
  display: flex;
  gap: 24px;
}

.legal-links a {
  color: #64748b;
  text-decoration: none;
}

.legal-links a:hover {
  color: #ffffff;
}